.fluig-style-guide .panel-default>.panel-heading {
    color: #FFF !important;
    background-color: #0080ff!important;
    border-color: #0080ff!important;
}

/* .fluig-style-guide #limpaZoomPortaria { */
/*     border-right: solid 1px #0366c7 !important; */
/* } */

.fluig-style-guide .input-group-addon {
    border: 1px solid #0080ff!important;
    background-color: #0080ff!important;
    color: #FFF !important;
}

.fluigicon.fluigicon-trash.fluigicon-md {
    line-height: 0px;
}